.App {
  text-align: center;
  min-height: 100vh;
  padding-top: 10vh;
}

.padding0, ::before, ::after {
  padding: 0;
  box-sizing: content-box;
  color-scheme: rgb(20, 20, 20);
}

.NavBar {
  position: fixed;
  width: 100vw;
  top: 0;
}

@media only screen and (min-width: 600px) {
  #logo-navbar {
    width: 5vw;
  }
  .App {
    padding-top: 15vh
  }
  #home-img {
    max-height: 75vh;
    width: auto;
  }
}