.App {
  text-align: center;
  min-height: 100vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.padding0, ::before, ::after {
  padding: 0;
  box-sizing: content-box;
  color-scheme: rgb(20, 20, 20);
}

.NavBar {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 99;
}


.mb-0-right  {
  text-align: right;
}

.mb-0-left  {
  text-align: left;
}

.card-100 {
  width: 100%;
}

.game-list-card-text {
  text-align:justify;
}

#avatar-name-navbar {
  display:flex;
  align-items: flex-start;
}

.game-comment-name-title {
  display: inline;
} 

.game-comment-header-span {
  display: inline;
  display:flex;
  align-items: flex-end;
}

Button {
  margin: 0.5vw
}

#home-img {
  width: auto;
  height: 60vh ;
  display:block;
  margin: auto
}

@media only screen and (min-width: 600px) {
  #logo-navbar {
    width: 5vw;
  }
  .App {
    padding-top: 15vh
  }
  #home-img {
    max-height: 75vh;
    width: auto;
  }
}